:root {
    --settingsScale: min(max(360px, calc(0.1 * var(--mainWidth))), calc(0.4 * var(--mainWidth)));
}

.logout-button {
    width: calc(0.37 * var(--settingsScale));
    height: calc(0.14 * var(--settingsScale));
    margin-top: calc(0.12 * var(--settingsScale));
    margin-left: calc(0.12 * var(--settingsScale));
    border-radius: calc(0.02 * var(--settingsScale));
    color: white;
    font-size: calc(0.05 * var(--settingsScale));
    background-color: rgba(255, 40, 40, 0.6);
}

.profile-bar {
    margin-top: calc(0.12 * var(--settingsScale));
    margin-left: calc(0.12 * var(--settingsScale));
    display: flex;
    align-items: center;
}

.profile-right {
    margin-left: calc(0.06 * var(--settingsScale));
}

.profile-name {
    font-size: calc(0.07 * var(--settingsScale));
    color: var(--colorTextPrimary);
    font-weight: bold;
    margin-bottom: calc(0.01 * var(--settingsScale));
}

.profile-role {
    font-size: calc(0.06 * var(--settingsScale));
    color: var(--colorTextTertiary);
}

.profile-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(0.2 * var(--settingsScale));
    height: calc(0.2 * var(--settingsScale));
    background-color: var(--colorOverlayProfile);
    border-radius: 100%;
}

.profile-icon {
    width: 55%;
    height: 55%;
    opacity: 0.5;
    background-image: url('../images/messages/person.svg');
}
